.module {
  /* Empty */
}

.inputs {
  padding: 64px 0;
}

.fieldset {
  border: 2px solid var(--light-gray);
  border-radius: 16px;
  margin: 0 auto;
  padding: 32px;
  width: 480px;
}

.legend {
  background-color: var(--navy);
  font-size: 2.4rem;
  padding: 8px 16px;
  text-align: center;
}

.email,
.password {
  margin-bottom: 24px;
}

.email label,
.password label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.button {
  display: block;
  margin: auto;
  padding: 20px 60px;
}

.textboxWithError {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error {
  color: #f00;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .module {
    display: block;
    max-width: var(--sp-max-content-width);
    min-width: var(--sp-min-content-width);
    padding: var(--sp-inner-padding);
  }

  .inputs {
    padding: 32px 0;
    width: 100%;
  }

  .fieldset {
    padding: 16px;
    width: 100%;
  }
}
